            <div class="row padding-tb-md">
                <div class="col-md-4 col-sm-4 xs-font-lg">  
                    <h4>Quick Links:</h4>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home Page</a><br />
                    <a asp-area="" asp-controller="Home" asp-action="About">About Us</a><br />
                    <a asp-area="" asp-controller="Firm" asp-action="Index">The Firm</a><br />
                    <a asp-area="" asp-controller="Transactions" asp-action="Index">All Transactions</a><br />
                    <a asp-area="" asp-controller="Home" asp-action="Clients">Clients</a><br />
                    <a asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a>
                </div>
                <div class="col-md-4 col-sm-4 xs-font-lg">  
                    <address>
                        <h4>Contact Us Directly:</h4>
                            <a asp-route-id="1" asp-controller="Firm" asp-action="Firm_President">President &amp; CEO</a><br />
                            <a asp-route-id="1" asp-controller="Firm" asp-action="Firm_IP">Investment Partners</a><br />
                            <a asp-route-id="1" asp-controller="Firm" asp-action="Firm_Finance">Structured Finance Partners</a><br />
                            <a asp-route-id="1" asp-controller="Firm" asp-action="Firm_Operations">Operations</a>
                    </address>  
                </div>
                <div class="col-md-4 col-sm-4 xs-font-lg">  
                    <address>
                        <h4>Additional Info:</h4>
                            <a href="http://www.palmercapital.com/googlemaps.html" target="_blank">Map</a><br />
            				<a target="_blank" class="darkBlue" href="https://roundme.com/tour/248326/view/727101">PCI Tour</a>
                    </address>
                </div>
                <div class="row padding-tb-md"></div> <!-- for extra space -->
            </div>