@{
    ViewData["Title"] = "Search Results";
    ViewData["SearchTitle"] = "PCI website";
    //changes nav tree text
}

    @await Html.PartialAsync("_SearchJumbo")

    <div class="container-fluid padding-tb" id="mid-home-bg">
        <div class="container narrow xs-no-padding">

            <!-- top nav tree ... -->
            <div class="row padding-top-md">
                <div class="col-lg-12">
                    <h5 class="text-muted"><a asp-area="" asp-controller="Home" asp-action="Index">Palmer Capital Inc</a> &nbsp;&rsaquo;&nbsp; @ViewData["Title"] </h5>
                    <hr class="hr-trans" />
                </div>
            </div> 

            <div class="row">
                <form class="navbar-form search searchResult" role="search" asp-controller="Home" asp-action="Search">
                    <div class="form-group searchResult">
                    <div class="input-group search searchResult">
                        <input type="text" class="form-control search searchResult focus" autocomplete="off" value="@ViewData["Search"]" name="SearchString" />
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="material-icons icon-search">search</i></button>
                        </span>
                        </div>
                    </div>
                    <h5 class="text-muted">No results found in PCI Website.</h5>
                </form>
            </div>
            
            <div class="row">
                <div class="col-lg-12">
                    @{
                        if (ViewData["Search"] == null)
                        {
                            <h4>Please enter a search term.</h4>
                            <h5>Tip: try searching for a team member or transaction.</h5>
                        }
                        else
                        {
                            <h4>Sorry, no results matching "@ViewData["Search"]" were found.</h4>
                            <h5>Tip: try searching for a team member or transaction.</h5>
                        }
                    }
                </div>
            </div>
            <div class="row padding-tb-md">
                <div class="col-lg-12">
                    <hr class="hr-trans" />
                </div>
            </div>
            @await Html.PartialAsync("_QuickLinks")
         </div>
    </div>