@{
    //for assigning title of page ...
    ViewData["Title"] = "PCI Transactions";
    //for assigning h4 subtitle in jumbotron of page & NAV TREE &  _SearchResultsBlurb.cshtml
    ViewData["SearchTitle"] = "All Transactions";
}

@section Scroll
{
<style type="text/css">
    html { overflow-y: scroll; }
</style>
}

@await Html.PartialAsync("_Transactions")

@section Top {
    <div class="top" title="scroll to top">
    <button type="button" class="btn btn-sm btn-default">
        <i class="material-icons icon-lg">arrow_upward</i>
    </button>
    </div>
}

@section scripts {
    <environment include="Development">
        <script src="~/js/transactions.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/transactions.js" asp-append-version="true"></script>
    </environment>
}