@model IEnumerable<PCI_Website_2018.Models.ClientReferences>
@using System.Web;

        
            @foreach (var item in Model) {  
                string email = Convert.ToString(item.RefFax);
            <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <h4>@Html.DisplayFor(modelItem => item.RefCompany)</h4>
                            <p>@Html.DisplayFor(modelItem => item.RefFullname) &ndash; <a href="mailto:@email.ToLower()">@email.ToLower()</a></p>
                            <p><a asp-controller="Home" asp-action="References">View All References &raquo;</a></p>
                        </div>
            </div>
            <hr class="hr-trans" />   
            }